@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor0: #EBEBE3;
  --cor1: #EFBB68;
  --cor2: #5B483A;
  --cor3: #122939;

  --fonte-padrao: 'Open Sans', sans-serif;
  --fonte-especial: 'Poppins', sans-serif;
  --fonte-especifica: 'Nunito', sans-serif;
}

html {
  font-size: 62,5%;
  scroll-behavior: smooth; /*rolagem suave*/

  }

:target {
  scroll-margin-top: 4.5em; /*rolagem até o ponto certo da pagina*/
}

html, body {
  height: 100%;
  background-color: #ffff;
  min-width: 300px;
  max-width: 1500px;
  font-family: var(--fonte-padrao);
}

header {
  background-image: url(imagens/bg_header.png);
  height: 700px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  /* ajustar para todas a telas */
}

.header {
  background-color: transparent;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 4rem;
}

.logo img{
  width: 150px;
  padding-top: 20px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: var(--cor0);
  text-decoration: none;
  transition: 0.2s;
  font-size: 1.0rem;
  white-space: nowrap;
}

.nav-link:hover{
  opacity: 0.8;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/* header a {
  color: var(--cor0);
  text-decoration: none;
  transition: 0.2s;
  font-size: 1.0rem;
  white-space: nowrap;
}

header a:hover {
  opacity: 0.8;
}

.main-header {
  position: relative;
  height: 100px;
  padding-top: 5px;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

.logo img {
  width: 150px;
  padding-top: 20px;
}

.nav-list{
  display: flex;
}

.nav-list li {
  list-style: none;
  padding: 10px;
  margin: auto;
} */

#apresentacao {
  height: 500px;
  padding: 0 50px;
}

/* icones */

#apresentacao h2{
  font-size: 1.8rem;
  font-family: var(--fonte-especial);
  color: var(--cor2);
  text-align: center;
  margin-top: 50px;
  line-height: 30px;
}
.container-2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  column-gap: 30px;
}

.interiores a,
.planejados a,
.imobiliarios a,
.decoracao a{
  height: 200px;
  width: 200px;
  background-color: var(--cor0);
  border-radius: 10px;
  display: grid;
  align-content: space-evenly;
  justify-items: center;
  text-decoration: none;
  color: var(--cor3);

  -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.interiores a:hover,
.planejados a:hover,
.imobiliarios a:hover,
.decoracao a:hover{
  -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.container-2 p {
  font-size: 0.9rem;
  text-align: center;
  padding: 10px;
}

.container-2 span {
  font-size: 1.3rem;
}

/* CARACTERISTICAS */

#caracteristicas {
  height: 500px;
  padding: 0 50px;
  background: var(--cor0);
}

.container-3 {
  display: flex;
  justify-content: center;
}

.container-3 img {
  width: 550px;
  padding: 25px;
}
.container-3 .text{
  color: var(--cor2);
  margin-top: 135px;
  padding: 30px;
}

.container-3 .text h2 {
  font-size: 1.9rem;
  padding: 10px 0px;
}

/* PREÇOS */

#precos {
  height: 500px;
  padding: 0 50px;

}

.container-4 .child-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  column-gap: 40px;
}

.plano1,
.plano2,
.plano3 {
  height: 350px;
  width: 250px;
  font-family: var(--fonte-especial);
  background-color: #ffffffb2;
  display: grid;
  align-content: space-around;
  justify-items: center;
  color: var(--cor2);
  padding: 25px 15px 15px 25px;
  box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.10);
}

.container-4 h3 {
  font-size: 1.5rem;
  color: var(--cor1);
}

.container-4 ul li {
  font-size: 1.1rem;
}

.container-4 strong {
  color: var(--cor2);
  font-size: 1.5rem;
}

.container-4 span {
  font-size: 0.7rem;
  color: var(--cor1);
}

.button{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color: var(--cor0);
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#122939;
	font-size:15px;
	font-weight:bold;
	padding:7px 35px;
  margin-top: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.button:active {
	position:relative;
	top:1px;
}

#precos h2 {
  font-size: 1.3rem;
  font-family: var(--fonte-especial);
  color: var(--cor3);
  text-align: center;
  margin-top: 30px;
  line-height: 30px;
}

#precos p {
  text-align: center;
  font-size: 1.1rem;
}

/* FEEDBACK */

/* FEEDBACK */

#feedback {
  height: 500px;
  padding: 30px 50px 20px 50px;
  background-image: url(imagens/bg_feedback.png);

}

#feedback h2 {
  font-size: 1.3rem;
  color: var(--cor3);
  opacity: .9;
  
}

#feedback p {
  font-size: .9rem;
  padding-bottom: 30px;
}


.feedback-container .child-feedback-container {
  display: flex;
  justify-content: center;
  height: 230px;
  gap: 40px;
  padding: 40px;
}

.box-comment {
  font-family: var(--fonte-especial);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.290);
  height: 230px;
  width: 350px;
  border-radius: 20px;
  background: #fff;

}

.box-comment .profile {
  padding: 8px 8px 3px 8px;
  text-align: center;
}

.box-comment .profile img {
  width: 50px;
  border-radius: 50%;
  border: var(--cor1) solid 3px;
}

.box-comment .profile h4 {
  font-size: .8rem;
  opacity: .6;
  line-height: 8px;
  padding-top: 5px;
}

.box-comment .profile strong {
  font-weight: 700;
  font-size: .9rem;
  opacity: .8;
}

.box-comment .text {
  display: flex;
  justify-content: space-between;
}

.box-comment span {
  margin: -68px -22px;
  font-size: 6rem;
  font-family: var(--fonte-especifica);
  color: var(--cor1)
}

.box-comment .circle {
  margin: -50px -17px;
  width: 130px;
  height: 40px;
  background: var(--cor0);
  border-radius: 50%;
}

.box-comment p {
  font-size: .8rem;
  opacity: .7;
  padding: 3px 15px 15px 15px;
  text-align: justify;

}

/* PERGUNTAS */

#perguntas {
  height: auto;
  padding: 30px 50px;
  
}

.duvidas {
  display: flex;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.div-collapse {
  max-width: auto;
  overflow: hidden;
  font-weight: 500;
}

.div-collapse label {
  position: relative;
  font-weight: 600;
  background: var(--cor0);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1) 0 4px 11px 0 rgba(0, 0, 0, .08);
  color: var(--cor3);
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  z-index: 1;
  margin-top: 10px;
}

.div-collapse label:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 5px;
  width: 40px;
  height: 40px;
  background: url(imagens/icon_arrow.png);
}

.collapse-text {
  max-height: 1px;
  overflow: hidden;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.div-collapse input:checked ~ .collapse-text {
  max-height: 300px;
  padding-bottom: 25px;
  background: var(--cor0);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1) 0 4px 11px 0 rgba(0, 0, 0, .08);
  opacity: 1;
  top: 0;

}

.collapse-text h2 {
  margin-bottom: 10px;
  padding: 15px 15px 0;
  color: var(--cor3);
  font-size: 1.2rem;
  font-weight: 700;
}

.collapse-text p {
  padding: 0 15px;
}

#collapse-head,
#collapse-head2,
#collapse-head3,
#collapse-head4,
#collapse-head5 {
  display: none;
}

#newslatter {
  height: 250px;
  padding: 0 50px;
  background-color: var(--cor3);
}

.newslatter-container {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
}

.form {
  flex-direction: column;
}

.newslatter-container h3 {
  color: var(--cor3);
  font-size: 1.3rem;
  color: var(--cor0);
}

.newslatter-container p{
  font-size: 1rem;
  opacity: .8;
  color: var(--cor0);
}
.newslatter-container form {
  width: 600px;
  padding-top: 15px;
}

.newslatter-container form input {
  width: 40%;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid rgba(51, 51, 51, 0.568);
}

.newslatter-container  button {
  width: 18%;
  background-color: var(--cor2);
  color: var(--cor0);
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}


#desenvolvedores {
  height: 700px;
  padding: 60px 50px;
  font-family: var(--fonte-especial);
}

.dev-container .text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}

.dev-container .text h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.dev-container .text span {
  float: right;
  width: 550px;
}

.colaboradores {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 0px 80px
;}

.colaboradores .dev {
  width: 160px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colaboradores .dev img {
  width: 130px;
  border-radius: 50%;
  filter: grayscale(1);
}

.colaboradores .dev h4 {
  color: var(--cor3);
  padding-top: 8px;
}

.colaboradores .dev span {
  font-size: .8rem;
  text-align: center;
  padding: 10px;
  line-height: 13px;
  opacity: .8;
}


footer {
  height: 310px;
  background: var(--cor3);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--cor0);
  font-family: var(--fonte-especial);
  padding: 20px;
}

.footer-container img {
  width: 130px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: .9;
  padding: 15px 0;
}

.contact strong {
  font-size: .9rem;
  padding-top: 5px;

}

.contact span {
  font-size: .8rem;
}

.social {
  padding: 10px;
}

.social a {
  padding: 5px;
  color: var(--cor0);
}

.social span {
  padding: none;
}

.social a span {
  width: 35px;
  height: 35px;
  background: #173449;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  font-size: 1.3rem;
  transition: 0.3s;
}

.social a span:hover {
  background: var(--cor2);
}

.bottom {
  width: 100%;
  font-family: var(--fonte-especifica);
  color: var(--cor0);
  opacity: .8;
  padding: 5px;
  background-color: #0c1e2b;
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 1100px) {
  html {
    font-size: 90%;
  }

  
}

@media (max-width: 840px) {

  .nav-bar {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;

  }

  .nav-item {
    display: none;
  }

  .nav-item a {
    font-size: 1.2rem;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu-icon button img {
    width: 50px;
    float: right;
    filter: invert(1);

  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 10rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
    
  }

  .open {
    display: block;
  }

  
  #apresentacao {
    height: auto;
  }

  .container-2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    margin-bottom: 30px;
  }

  .interiores a,
  .planejados a,
  .imobiliarios a,
  .decoracao a{
    width: 180px;
    height: 180px;
  }
  
  .feedback-container {
    display: flex;
    justify-content: center;
    height: 230px;
    gap: 40px;
    padding: 40px;
  }
  
  .box-comment {
    font-family: var(--fonte-especial);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.290);
    height: 290px;
    width: 330px;
    border-radius: 20px;
    background: #fff;
  
  }

  .box-comment span {
    display: none;
  }
  
  .box-comment .circle {
    display: none;
  }

/* DEV */

.colaboradores {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 0px 30px
;}
 
}

@media (max-width: 500px) {

  .nav-list {
    flex-wrap: wrap;
  }

  #caracteristicas {
   height: auto;
  }

  .container-3 {
    display: grid;
    justify-items:  center;
    justify-content: center;
  }

  .container-3 img {
    width: 300px;
    padding: 10px;
  }

  .container-3 .text {
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 15px;
  }

  #precos {
    height: auto;
  }

  .container-4 {
    height: 470px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    /* esconder a barra de scroll no ie, edge e firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* esconder a barra de scroll no chrome, opera e safari */
  .container-4::-webkit-scrollbar {
    display: none;
  }

  .container-4 .child-container {
    width: 400%;
    height: inherit;

  }

  .plano1,
  .plano2,
  .plano3 {
    margin: 0px 5px;
    height: 350px;
  }

  #feedback {
    height: auto;
    padding: 70px 50px 30px 50px;
  }

  .feedback-container {
    height: 350px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    /* esconder a barra de scroll no ie, edge e firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;

  }

  .feedback-container .child-feedback-container{
    width: 400%;
    height: inherit;
  }

  .feedback-container::-webkit-scrollbar {
    display: none;
  }

  .box-comment {
    margin: 0 5px;
    height: 270px;
    width: 250px;
  }
  
  #newslatter {
    height: auto;
    padding: 5px 40px 20px 40px;
  }

  .newslatter-container p {
    padding: 0 50px;
  }

  .newslatter-container form {
    width: auto;
  }

  #form-newslatter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #form-newslatter input {
    width: 200px;
    padding: none;
    margin: 3px;
    
  }

  #form-newslatter button {
    width: 150px;
    padding: none;
    margin: 10px;
  }

  #desenvolvedores {
    height: auto;
    padding: 40px 50px 20px 50px;
  }

  .dev-container .text {
    display: flex;
    flex-direction: column;
  }

  .dev-container .text span {
    width: auto;
    padding: 5px 0px;
  }

  .colaboradores {
    justify-content: space-between;
    grid-template-columns: auto auto;
  }

}